
body {
    background-image: url(/assets/stadium.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    padding-top: 15px;
    color: #0071c5;
}

body > h1 {
    /* display: inline-block; */
    font-size: 20px;
    width: 45%;
    padding-top: 50px;
}

body > p {
    width: 35%;
}

.main-wrap {
    overflow: hidden;
}

.leftcolumn {
    float: left;
    width: 39%;
}

.rightcolumn {
    float: right;
    width: 55%;
}
.intel {
    width: 15%;
}

.symbol {
    position: absolute;
    width: 591px;
    height: 584px;
    left: 811px;
    top: 38px;
}

.rings {
    position: absolute;
    width: 486px;
    height: 237px;
    left: 877px;
    top: 745px;
}

.wrapper {
    text-align: center;
    width: auto;
}
